{% extends "base.html.twig" %}

{% set NAVBAR_CLASS = "navbar-dark bg-black" %}

{% set NAVBAR_BRAND_HREF = path('root') %}
{% block NAVBAR_BRAND %}
    {{ parent() }} - Manage
{% endblock %}

{% block NAVBAR_COLLAPSE %}
    {% include 'AdminOffice/_partials/menu.html.twig' %}

    <div class="d-flex align-items-center">
        <div class="flex-shrink-0 dropdown">
            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://www.pavilionweb.com/wp-content/uploads/2017/03/user-300x300.png" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small shadow  dropdown-menu-end" aria-labelledby="dropdownUser2" style="">
                <li><h6 class="dropdown-header">{{ app.user.username | upperword }}</h6></li>
                <li><a class="dropdown-item" href="{{ path('frontoffice.dashboard.index') }}">Application</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('security.logout') }}">Sign out</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% block sub_menu_title_href '' %}">{% block sub_menu_title '' %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% set activeRoute = app.request.attributes.get('_route') %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">{% block sub_menu_left '' %}</ul>
                <ul class="navbar-nav d-flex">
                    {% block sub_menu_right '' %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid pt-4">
        {% block content '' %}
    </div>
{% endblock %}

{% block toasts %}
    {{ parent() }}
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div id="securityIdle" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" data-idle="{{ app.session.get('_security.idle.remaining') }}">
            <div class="d-flex">
                <div class="toast-body">
                    Your session ends in <b id="securityIdleRemaining"></b> sec
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_adminoffice') }}
{% endblock %}