<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ APP_NAME }}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('assets/favicons/favicon.svg') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('app_backoffice_security') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('app_backoffice_security') }}
        {% endblock %}
    </body>
</html>
